#cm-add-new {
    font-size: 15px;
    font-weight: 500;
    margin-top: 2px;
    padding: 4px 14px;
    background: #27CDA5;
    display: inline-block;
    color: #FFF;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 24px;
    height: 35px;
}
#childify-container{
    text-align: center;
    color: #555;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: none;
    padding: 20px 0;
    position: relative;
    left: 0;
    -webkit-transition: left ease-in-out .18s;
    transition: left ease-in-out .18s;
}
#childify-container form{
    padding: 15px;
}
#childify-container td {
    width: 70%;
    text-align: left;
}
#childify-container input{
    width: 100%;
}
#childify-container fieldset input {
    width: auto;
    min-height: 10px;
}
.in-sub-panel #childify-container {
    left: -300px;
}
.cm-notice {
    height: 40px;
    padding: 0 15px 10px 15px;
    font-size: 13px;
    line-height: 18px;
    font-style: italic;
    display: inline-block;
}
#cm-success {
    display: none;
    margin: auto;
}
#cm-ctheme {
    font-weight: bold;
    color: green;
}
